.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layered-waves-separator {
  aspect-ratio: 960/300;
  background-image: url("./assets/layered-waves.svg");
}

.wave-separator {
  aspect-ratio: 1200/119;
  background-image: url("./assets/waves.svg");
  transform: scaleY(-1);
}